extends /_templates/html.pug

block body

    include /_templates/navigation.pug

    .sisu.w3-container#agenda
        //- img(src='/images/bg/avapilt.jpg' style='width:100%' visibility='hidden' )
        h1= self.title
        h4= self.subtitle

        each event in self.events
            .w3-card-4
                header.w3-container.laine
                    h2= event.title
                .w3-container
                    p= event.text
                footer.w3-container
                    pre= event.date

    include /_templates/footer.pug
