extends /_templates/html.pug

block body

    include /_templates/navigation.pug

    .sisu.w3-container#p2is
        //- img(src='/images/bg/avapilt.jpg' style='width:100%' visibility='hidden' )
        h1= self.title
        h4= self.subtitle

    .sisu.w3-container#artikkel 
        //- h2= self.cards.home.leadTitle
        each paragraph in self.cards.home.leads
            p= paragraph

        button.w3-button.w3-left-align.w3-block.readmore(onclick='toggleAccordeon(this)')= self.bits.keepReading
        .accordeon.w3-hide
            each paragraph in self.cards.home.texts
                p= paragraph

    .sisu.w3-container#andmebaas 
        h1= self.cards.andmebaas.title
        each paragraph in self.cards.andmebaas.leads
            p.l4= paragraph
        button.w3-button.w3-left-align.w3-col.l7.readmore(onclick='toggleAccordeon(this)')= self.bits.keepReading
        .accordeon.w3-hide
            each paragraph in self.cards.andmebaas.leadTexts
                li.l4= paragraph
            each paragraph in self.cards.andmebaas.texts
                p= paragraph

        form.w3-row#searchform(action=self.navigation[1].url, method='GET')
            input.w3-input.w3-col.l5.w3-round#search(
                type='search', 
                name='q', 
                placeholder= self.search.placeholder
            ) 
            button.w3-input.w3-col.l2.w3-round= self.search.button

    .sisu.w3-container#intervjuud 
        h1= self.cards.intervjuud.title
        each paragraph in self.cards.intervjuud.texts
            p= paragraph

        .w3-row
            each intervjuu in self.data.intervjuud.splice(0, 6)
                .w3-third.interview
                    .bottom-overlay
                        .title= intervjuu.title
                        //- .description= intervjuu.description
                    iframe.videothumb(src='https://player.vimeo.com/video/' + intervjuu.id + '?h=c330182d7b&color=3fbebc&title=0&byline=0', frameborder='0', allow='autoplay; fullscreen; picture-in-picture', allowfullscreen='')
                    //- a(href='https://vimeo.com/' + intervjuu.id)= intervjuu.title


    include /_templates/footer.pug