extends /_templates/html.pug

block body

    include /_templates/navigation.pug

    .sisu.w3-container#p2is
        //- img(src='/images/bg/avapilt.jpg' style='width:100%' visibility='hidden' )
        h1= self.title
        h4= self.subtitle

    .sisu.w3-container#artikkel 
        h2= self.cards.home.leadTitle
        each paragraph in self.cards.home.leads
            p= paragraph

    button.sisu.w3-button.w3-left-align.w3-block#accordeon(onclick='toggleAccordeon(this)')= self.bits.keepReading
    .sisu.accordeon.w3-hide.w3-container
        each paragraph in self.cards.home.texts
            p= paragraph

    .sisu.w3-container#andmebaas 
        h1= self.cards.andmebaas.title
        each paragraph in self.cards.andmebaas.leads
            p= paragraph
        form#searchform(action=self.navigation[1].url, method='GET')
            input.w3-input.w3-round-large.w3-animate-input(
                style= 'width: 30%;',
                type='search', 
                name='q', 
                placeholder= self.search.placeholder
            ) 
            button.w3-button()= self.search.button

    .sisu.w3-container#intervjuud 
        h1 intervjuud

    .sisu.w3-container#syndmused 
        h1 syndmused

    .sisu.w3-container#jalus
        h1 jalus
