- var self_url = self.path === '/' ? '/' : self.path + '/'
#navigation.w3-row

    a.w3-hover-none.w3-col.s4.m3.l2(id='logo', href=self.navigation[0].url)
        img.w3-image(src=self.logo.image, alt=self.logo.imageAlt)

    #navLarge.wwii-nav.w3-bar.w3-padding-24.w3-col.w3-right.s8.m9.l10
        //- .w3-text foo
        //- #navLarge.wwii-nav.w3-bar.w3-hide-small.w3-hide-medium.w3-border
        //- #navLarge.wwii-nav.w3-bar.w3-padding-24
        - var i = 0
        //- hamburger menu N/A
        each n in self.navigation
            if i++ > 0
                a.w3-bar-item.w3-button.w3-right.w3-hover-none.w3-hover-text-black(
                    href=n.url, 
                    class={ 'wwii-valitud': n.url === self_url, 'wwii-valimata': n.url !== self_url }
                    )= n.title
        - var j = 0
        
        each url, locale in self.otherLocalePaths
            if j++ > 0
                span.px-3 /
            a.w3-bar-item.w3-button.w3-right.w3-small.w3-hover-none.w3-clear.set-language(href=url
                )= self.language[locale]

        //- #navMedium.wwii-nav.w3-bar.w3-hide-small.w3-hide-large

        //- #navSmall.wwii-nav.w3-bar.w3-hide-large.w3-hide-medium
