extends /_templates/html.pug

block body

    include /_templates/navigation.pug
    include /_templates/formNewPerson.pug
    include /_templates/formFeedback.pug

    include /_templates/search_result.pug

    include /_templates/alerts.pug

    .sisu.w3-container#artikkel 
        div.w3-panel.w3-display-container
            h1= self.title

        .w3-hide#intro
            .w3-text= self.subtitle
            each item in self.mainlist
                li= item
            each paragraph in self.texts
                p= paragraph
        
        .w3-row

        if self.message
            h5.note= self.message
        form.w3-row#searchform
            div.search-input-wrapper
                input.w3-input.w3-round#search.search-input.search-input--general-search(
                    type='search', 
                    name='q',
                    placeholder= self.search.placeholder,
                    enabled
                )
                div.detail-search-inputs-wrapper
                    label(for="firstname-input")= self.search.labelTextFirstname  
                    input.w3-input.w3-round.search-firstname.search-input.search-input--detail-search(
                        type='search', 
                        name='firstname',
                        id='firstname-input',
                        placeholder= self.search.placeholderFirstname
                    )
                    label(for="lastname-input")= self.search.labelTextLastname
                    input.w3-input.w3-round.search-lastname.search-input.search-input--detail-search(
                        type='search', 
                        name='lastname',
                        id='lastname-input',
                        placeholder= self.search.placeholderLastname
                    )
                    label(for="mothers-firstname-input")= self.search.labelTextMothersFirstname
                    input.w3-input.w3-round.search-mothers-firstname.search-input.search-input--detail-search(
                        type='search', 
                        name='mothersFirstname',
                        id='mothers-firstname-input',
                        placeholder= self.search.placeholderMothersFirstname
                    )
                    //-label(for="mothers-lastname-input")= self.search.labelTextMothersLastname
                    //-input.w3-input.w3-round.search-mothers-lastname.search-input.search-input--detail-search(
                        type='search', 
                        name='mothersLastname',
                        id='mothers-lastname-input',
                        placeholder= self.search.placeholderMothersLastname
                    //-)
                    label(for="fathers-firstname-input")= self.search.labelTextFathersFirstname
                    input.w3-input.w3-round.search-fathers-firstname.search-input.search-input--detail-search(
                        type='search', 
                        name='fathersFirstname',
                        id='fathers-firstname-input',
                        placeholder= self.search.placeholderFathersFirstname
                    )
                    //-label(for="fathers-lastname-input")= self.search.labelTextFathersLastname
                    //-input.w3-input.w3-round.search-fathers-lastname.search-input.search-input--detail-search(
                        type='search', 
                        name='fathersLastname',
                        id='fathers-lastname-input',
                        placeholder= self.search.placeholderFathersLastname
                    //-)
                    label(for="birthplace-input")= self.search.labelTextBirthplace
                    input.w3-input.w3-round.search-birthplace.search-input.search-input--detail-search(
                        type='search', 
                        name='birthplace',
                        id='birthplace-input',
                        placeholder= self.search.placeholderBirthplace
                    )
                    label(for="place-of-residence-input")= self.search.labelTextPlaceOfResidence
                    input.w3-input.w3-round.search-place-of-residence.search-input.search-input--detail-search(
                        type='search', 
                        name='placeOfResidence',
                        id='place-of-residence-input',
                        placeholder= self.search.placeholderPlaceOfResidence
                    )
                    label(for="place-of-death-input")= self.search.labelTextPlaceOfDeath
                    input.w3-input.w3-round.search-place-of-death.search-input.search-input--detail-search(
                        type='search', 
                        name='placeOfDeath',
                        id='place-of-death-input',
                        placeholder= self.search.placeholderPlaceOfDeath
                    )
                    div.year-filter-wrapper
                        div.year-filter-inputs-wrapper
                            div.year-filter-input-wrapper
                                label(for="birth-year-from-input")= self.search.labelTextBirthYearFrom
                                input.w3-input.w3-round.year-filter-input.birthyear-from.search-input--detail-search(
                                    type="number",
                                    name="birthYearFrom",
                                    min="1850",
                                    max="2050",
                                    id='birth-year-from-input',
                                    placeholder= self.search.placeholderYearFrom
                                )
                            div.year-filter-input-wrapper    
                                label(for="birth-year-to-input")= self.search.labelTextBirthYearTo
                                input.w3-input.w3-round.year-filter-input.birthyear-to.search-input--detail-search(
                                    type="number",
                                    name="birthYearTo",
                                    min="1850",
                                    max="2050",
                                    id='birth-year-to-input',
                                    placeholder= self.search.placeholderYearTo
                                ) 
                        div.year-filter-inputs-wrapper
                            div.year-filter-input-wrapper
                                label(for="death-year-from-input")= self.search.labelTextDeathYearFrom
                                input.w3-input.w3-round.year-filter-input.deathyear-from.search-input--detail-search(
                                    type="number",
                                    name="deathYearFrom",
                                    min="1900",
                                    max="2050",
                                    id='death-year-from-input',
                                    placeholder= self.search.placeholderYearFrom
                                )
                            div.year-filter-input-wrapper    
                                label(for="death-year-to-input")= self.search.labelTextDeathYearTo 
                                input.w3-input.w3-round.year-filter-input.deathyear-to.search-input--detail-search(
                                    type="number",
                                    name="deathYearTo",
                                    min="1900",
                                    max="2050",
                                    id='death-year-to-input',
                                    placeholder= self.search.placeholderYearTo
                                ) 
            div.search-buttons-wrapper
                button.search-form-button#searchButton(enabled)= self.search.button
                button.search-form-button.more-fields-button(enabled style="display:block")= self.search.buttonDetailSearch
                button.search-form-button#newPersonLink(
                    enabled,
                    onclick="document.getElementById('newPersonFormRoot').style.display='block'"
                    )= self.newPersonForm.linkText     

        #tulemused
            .w3-text#search-count= ""
            #search-results
        //- <form class="form" id="searchform" action="/" method="GET">
        //-     <input class="col-8 col-md-6 col-xl-4" type="search" name="q" placeholder="sisesta nimi →">
        //-     <button class="col-4 col-md-3 col-xl-2">Otsi/Search</button>
        //- </form>
        div.pagination-wrapper
            a.pagination-prev.pagination-button.pagination= self.pagination.paginationPrev
            a.pagination-first-page.pagination-button= self.pagination.paginationFirstPage
            div.pagination-dots= self.pagination.paginationDots 
            a.pagination-current-page.pagination-button= self.pagination.paginationCurrentPage 
            div.pagination-dots= self.pagination.paginationDots
            a.pagination-last-page.pagination-button= self.pagination.paginationLastPage
            a.pagination-next.pagination-button= self.pagination.paginationNext

    include /_templates/footer.pug

    //- script(src='/functions/search.js')