extends /_templates/html.pug

block body

    include /_templates/navigation.pug

    .sisu.w3-container#artikkel 
        h1= self.title
        form.w3-container#searchform
            input.w3-input.w3-round-large.w3-animate-input#search(
                style= 'width: 30%;',
                type='search', 
                name='q', 
                placeholder= self.search.placeholder
            ) 
            button= self.search.button

        .w3-container#tulemused
            .w3-text#search-count= 0
            #search-results
        //- <form class="form" id="searchform" action="/" method="GET">
        //-     <input class="col-8 col-md-6 col-xl-4" type="search" name="q" placeholder="sisesta nimi →">
        //-     <button class="col-4 col-md-3 col-xl-2">Otsi/Search</button>
        //- </form>

    include /_templates/footer.pug

    //- script(src='/functions/search.js')